# Hybrid Mutual Fund Analysis

In [1]:
#Data manipulation and analysis
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#Data visualization
import seaborn as sb

%matplotlib inline
#magic function in ipython that renders the figure in a notebook

In [13]:
# Loading Dataset
data = pd.read_excel("HMF.xlsx")

In [14]:
# First Five Rows
data.head()

,Unnamed: 0,Sl_No.,Fund_Scheme_Name,Category,Launch_Date,Crisil_Rating,Net_Assets_(Cr),1_Yr_Return,3_Yr_Return,5_Yr_Return,...,Expense_Ratio,Sharpe_Ratio,Sortino_Ratio,Alpha,Beta,Std_Dev,R_Squared,Year_Trailing,Net_Return,Good
0,0,1,UTI Arbitrage Fund #,Arbitrage,2006-06-29,Rank 1,1397.70,6.52,6.24,6.60,...,0.83,-0.03,-0.04,0.60,0.33,0.45,0.00,13,7.40,0
1,1,2,LIC MF Debt Hybrid Fund #,Conservative,2003-06-02,Rank 1,84.93,7.68,5.92,6.55,...,2.30,-0.08,-0.12,-1.91,0.58,3.07,62.19,16,7.73,0
2,2,3,ICICI Prudential Regular Savings Fund #,Conservative,2004-03-30,Rank 1,1589.42,8.40,9.33,9.92,...,2.24,0.84,1.36,1.91,1.58,3.57,88.45,15,10.06,1
3,3,4,Reliance Arbitrage Fund #,Arbitrage,2010-10-14,Rank 2,8535.00,6.64,6.41,6.86,...,1.04,0.26,0.45,0.70,1.30,0.54,85.00,8,17.83,1
4,4,5,Kotak Equity Arbitrage Fund #,Arbitrage,2005-09-29,Rank 2,13360.00,6.56,6.32,6.75,...,0.97,0.14,0.23,0.56,1.26,0.45,87.45,13,18.45,1

In [15]:
# Statistics - central tendency, dispersion and shape
data.describe()

,Unnamed: 0,Sl_No.,Net_Assets_(Cr),1_Yr_Return,3_Yr_Return,5_Yr_Return,Expense_Ratio,Sharpe_Ratio,Sortino_Ratio,Alpha,Beta,Std_Dev,R_Squared,Year_Trailing,Net_Return,Good
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,14.500000,15.500000,4523.254637,7.257000,7.685000,8.346333,1.718333,0.165000,0.263000,0.331333,1.437667,4.792667,61.608333,15.266667,11.528333,0.466667
std,8.803408,8.803408,7952.466690,1.567997,1.924327,1.832329,0.575243,0.362717,0.612063,1.568361,1.217682,3.690865,38.442155,4.961461,4.102575,0.507416
min,0.000000,1.000000,12.230700,4.830000,5.740000,6.250000,0.750000,-0.670000,-1.180000,-2.450000,-0.690000,0.440000,0.000000,5.000000,6.650000,0.000000
25%,7.250000,8.250000,113.197500,6.127500,6.217500,6.667500,1.017500,-0.007500,-0.010000,-1.082500,0.587500,0.587500,32.210000,12.250000,7.512500,0.000000
50%,14.500000,15.500000,1488.350000,6.965000,6.860000,7.935000,1.855000,0.240000,0.380000,0.580000,0.995000,4.050000,85.050000,15.000000,10.225000,0.000000
75%,21.750000,22.750000,4350.500000,8.385000,8.720000,9.470000,2.197500,0.327500,0.550000,1.360000,2.310000,8.495000,89.907500,18.750000,14.357500,1.000000
max,29.000000,30.000000,30028.000000,10.610000,11.460000,12.000000,2.400000,0.840000,1.360000,3.980000,3.920000,11.740000,96.810000,26.000000,19.860000,1.000000